target/test-classes/martademo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:marta="http://www.mulesoft.org/schema/mule/marta" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/marta http://www.mulesoft.org/schema/mule/marta/current/mule-marta.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <marta:config name="MARTA__Configuration" doc:name="MARTA: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="martademoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/marta" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="method" value="#[message.inboundProperties.'http.query.params'.method]" doc:name="Variable"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.method=='getallbus']">
                <marta:get-all-bus config-ref="MARTA__Configuration" doc:name="MARTA"/>
            </when>
            <when expression="#[flowVars.method=='getbusbyroute']">
                <marta:get-realtime-arrivals config-ref="MARTA__Configuration" doc:name="MARTA"/>
            </when>
            <when expression="#[flowVars.method=='getalltrains']">
                <marta:get-bus-by-route config-ref="MARTA__Configuration" route="#[message.inboundProperties.'http.query.params'.route]" doc:name="MARTA"/>
            </when>
        </choice>
    </flow>
</mule>
